[submodule "third_party/gflags"]
	path = third_party/gflags
	url = https://github.com/gflags/gflags.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/httplib"]
	path = third_party/httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "third_party/seastar"]
	path = third_party/seastar
	url = https://github.com/scylladb/seastar.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
